<div class="card border-0" style="width: 18rem;">

    <div class="d-flex justify-content-center">
        <img class="card-img-top rounded-circle w-75" src="https://i.pinimg.com/originals/cf/f4/f8/cff4f81dd6444fef4c34ed34bdd9bbe3.jpg" alt="Imagem de capa do card">

    </div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">{{nome}}</h5>
      <p class="card-text text-center text-monospace">Líder do bando, caçador por natureza.</p>
      <a href="https://www.linkedin.com/in/jefferson-oliveira-de-araujo/" class="btn btn-outline-info mb-3 d-flex justify-content-center" target="blank">Linkedin</a>
      <a href="https://github.com/jeff77araujo" class="btn btn-outline-dark mb-3 d-flex justify-content-center" target="blank">GitHub</a>
    </div>
  </div>
