<div class="container-fluid w-100 corFundo">
    <div class="row w-100 w-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Sejam bem vindes ao meu Blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 md-4 text-white">
        <div class="col-md-12 ">
            <p class="text-justify text-monospace">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
                incidunt consequuntur in, omnis minus dignissimos quae dolorem iure deserunt dolor itaque minima
                distinctio. Iusto corporis exercitationem commodi, perspiciatis debitis velit? Lorem ipsum dolor sit
                amet consectetur, adipisicing elit. Quisquam deleniti, obcaecati accusamus accusantium illum, provident
                esse perferendis fuga illo, porro laudantium? Quisquam, iusto molestias ratione ad quae quaerat
                assumenda illum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam molestias quo magni
                repellendus deleniti hic error sequi natus non facere qui officiis in minus sint quidem quam, dolore
                quaerat consectetur.</p>
        </div>
    </div>

</div>

<div class="parallax "></div>

<div class="row w-100 mt-5 mb-5 ">
    <div class="col-md-12 w-100 d-flex justify-content-center ">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o Feed</button>
    </div>
</div>